.search-image{
    -fx-background-image: url('file:src/main/resources/searchIcon.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}